.landing-coming-soon .row {
  max-width: 950px; }
.landing-coming-soon .header-top .inner-container {
  width: 100%; }
.landing-coming-soon #logo {
  display: block;
  clear: both;
  width: 100%;
  max-width: 460px;
  padding-top: 20px;
  margin: 0 auto 60px; }
  .landing-coming-soon #logo img {
    display: block; }
.landing-coming-soon h1 {
  text-align: center;
  font-weight: normal;
  font-size: 42px;
  color: #034f55; }
.landing-coming-soon .body-emph {
  width: 100%;
  max-width: 880px;
  margin: auto;
  font-size: 18px; }
.landing-coming-soon .copyright-footer {
  display: none; }
.landing-coming-soon .sutro-column-content {
  background: #afb81d; }
  .landing-coming-soon .sutro-column-content .sutro-column1 .sutro-column-inner {
    border-right: 20px solid #fff;
    margin-right: 0; }

.lp-changing-lives {
  width: 100%;
  max-width: 760px;
  padding: 5px;
  background: #008e91;
  margin: auto;
  text-align: center;
  color: #fff; }
  .lp-changing-lives h2 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5; }

.coming-soon-boxes {
  color: #fff; }
  .coming-soon-boxes h2 {
    margin: 0;
    padding: 10px 40px;
    background: #008e91;
    font-weight: normal;
    font-size: 16px; }
  .coming-soon-boxes .content,
  .coming-soon-boxes .pane-content {
    padding: 10px 0;
    background: #afb81d; }
    .coming-soon-boxes .content ul,
    .coming-soon-boxes .pane-content ul {
      padding: 0 20px 0 40px;
      margin: 0; }

.coming-soon-contact-info {
  margin-top: 60px;
  text-align: center;
  color: #034f55; }
  .coming-soon-contact-info h2 {
    margin: 0;
    font-weight: normal;
    font-size: 16px; }
  .coming-soon-contact-info .content a:link, .coming-soon-contact-info .content a:visited, .coming-soon-contact-info .content a:hover, .coming-soon-contact-info .content a:active, .coming-soon-contact-info .content a:focus,
  .coming-soon-contact-info .pane-content a:link,
  .coming-soon-contact-info .pane-content a:visited,
  .coming-soon-contact-info .pane-content a:hover,
  .coming-soon-contact-info .pane-content a:active,
  .coming-soon-contact-info .pane-content a:focus {
    color: #034f55; }
  .coming-soon-contact-info .content ul,
  .coming-soon-contact-info .pane-content ul {
    padding: 0;
    margin: 0; }
    .coming-soon-contact-info .content ul li,
    .coming-soon-contact-info .pane-content ul li {
      list-style: none;
      padding: 0;
      margin: 0; }

@media screen and (max-width: 480px) {
  body.landing-coming-soon {
    width: 100%;
    margin: 0;
    font-size: 1em; }

  .landing-coming-soon h1 {
    font-size: 2em; }
  .landing-coming-soon .body-emph {
    font-size: 1.125em; }
  .landing-coming-soon .sutro-column-content {
    background: none; }
    .landing-coming-soon .sutro-column-content .sutro-column1 {
      margin-bottom: 20px; }
      .landing-coming-soon .sutro-column-content .sutro-column1 .sutro-column-inner {
        border-right: none; }

  .coming-soon-boxes h2 {
    font-size: 1em; }

  .coming-soon-contact-info h2 {
    font-size: 1em; } }
@media screen and (max-width: 320px) {
  body.landing-coming-soon {
    font-size: 0.9em; }
    body.landing-coming-soon h1 {
      font-size: 1.5em; }
    body.landing-coming-soon .body-emph {
      font-size: 1em; }

  .lp-changing-lives h2 {
    font-size: 12px; }
  .lp-changing-lives .horizontal.with-bullets li {
    font-size: 12px; }

  .coming-soon-boxes h2 {
    padding: 10px; }

  .coming-soon-contact-info {
    margin-top: 40px; } }
