@media screen and (max-width: 480px) {
  body {
    width: 100%;
    margin: 0;
    font-size: 1em; }

  .landing-coming-soon h1 {
    font-size: 2em; }
  .landing-coming-soon .body-emph {
    font-size: 1.125em; }
  .landing-coming-soon .sutro-column-content {
    background: none; }
    .landing-coming-soon .sutro-column-content .sutro-column1 {
      margin-bottom: 20px; }
      .landing-coming-soon .sutro-column-content .sutro-column1 .sutro-column-inner {
        border-right: none; }

  .coming-soon-boxes h2 {
    font-size: 1em; }

  .coming-soon-contact-info h2 {
    font-size: 1em; } }
@media screen and (max-width: 320px) {
  body {
    font-size: 0.9em; }

  .landing-coming-soon h1 {
    font-size: 1.5em; }
  .landing-coming-soon .body-emph {
    font-size: 1em; }

  .lp-changing-lives h2 {
    font-size: 12px; }
  .lp-changing-lives .horizontal.with-bullets li {
    font-size: 12px; }

  .coming-soon-boxes h2 {
    padding: 10px; }

  .coming-soon-contact-info {
    margin-top: 40px; } }
